# Introduction to pandas

#### 1. What is data science ?

Data science is the process of analysing data and extracting the useful informations.To extract the useful infomations first you need to analyse the dataset by performing some operations. <br>
In another way you can say that it is the science of data,fiding hidden relationships and using these to predict the future. <br>
![alt text](datasets/ds1.jpg) <br>
Data science combining various fields like data preprocessing  ,domain expertise, Machine Learning, Mathematics, Statistics.Here we only talk about data preprocessing in efficient way by pandas.

#### 2. What is pandas ?

Pandas is used as data cleaning tool in the field of data science.You can do whatever operation you want in the dataset with this tool.Now question arises, can we clean or change the value in the dataset manually ? Answer is yes we can if size of the dataset is small.What if we have a large dataset then we can not do it manually it will take a lot of time.Pandas makes data science very easy and effective.

###### To use pandas you need to first import the pandas module in your program

In [1]:
import pandas as pd #Now you can use pandas functions by pd.read_csv("path") etc..

### Reading CSV and Excel sheets:

##### d=pd.read_csv("path"):
 * pd.read_csv() is the function to read the CSV(Comma separated values) file from your computer.
 * In the function you have to pass "path" of the CSV file under quote.
 * Store the dataframe in any variable,here i stored it in variable "d".
 * read_csv() function makes the CSV file into dataframe so that you can access it just like a disctionary.

##### d=pd.read_excel("path") : 
 * It is same as the read_csv() but it reads  excel sheet or file.
Here i am using the weather dataset which has all the data of weather.
######  In my case,weather.csv file is in my current directory that is why the path of the file is file name itself.

In [1]:
import pandas as pd


d = pd.read_csv('datasets/weather.csv')

# returning dataframe object
d.head()#printing dataframe d

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [3]:
#Now reading any file from any location your laptop/pc
demo=pd.read_csv("D:/Sagar Python/SagarPython/Data Analysis/Datasets/Google_Stock_Price_Train.csv")
demo.head()

        Date    Open    High     Low   Close   Volume
0  26-Sep-17  936.69  944.08  935.12  937.43  1672749
1  25-Sep-17  939.45  939.75  924.51  934.28  1873375
2  22-Sep-17  942.77  950.00  940.84  943.26  1074806
3  21-Sep-17  948.13  952.80  939.38  947.55  1370685
4  20-Sep-17  937.73  950.00  937.50  947.54  2004018

In [4]:
d.info()#It will return all the information of out dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

#### How many rows ?

In [4]:
print(len(d))
# there are 96453 rows

96453

### Getting first n-rows of dataset
  * To see the first five rows call head() function with dataframe object. <br>
      for example-  
      <code> d.head() </code> <br>
  * If you want to view first n-rows <br>
      <code> d.head(n) </code>

In [6]:
d.head() # first five rows

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [7]:
d.head(9) # to print first n=9 rows

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
5,2006-04-01 05:00:00.000 +0200,Partly Cloudy,rain,9.222222,7.111111,0.85,13.9587,258.0,14.9569,0.0,1016.66,Partly cloudy throughout the day.
6,2006-04-01 06:00:00.000 +0200,Partly Cloudy,rain,7.733333,5.522222,0.95,12.3648,259.0,9.9820,0.0,1016.72,Partly cloudy throughout the day.
7,2006-04-01 07:00:00.000 +0200,Partly Cloudy,rain,8.772222,6.527778,0.89,14.1519,260.0,9.9820,0.0,1016.84,Partly cloudy throughout the day.
8,2006-04-01 08:00:00.000 +0200,Partly Cloudy,rain,10.822222,10.822222,0.82,11.3183,259.0,9.9820,0.0,1017.37,Partly cloudy throughout the day.

### Getting last n-rows of dataset
  * Call the tail() function <br>
     <code> d.tail() </code> <br>
It will show only last five rows of dataframe d. <br>
  * If you want to see last n-rows - <br>
     <code> d.tail(n) </code>

In [8]:
d.tail() #last five rows

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [9]:
d.tail(9) # last 9 rows

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
96444,2016-09-09 15:00:00.000 +0200,Partly Cloudy,rain,31.083333,29.616667,0.28,15.5043,40.0,16.1000,0.0,1014.17,Partly cloudy starting in the morning.
96445,2016-09-09 16:00:00.000 +0200,Partly Cloudy,rain,31.083333,29.611111,0.28,13.8943,40.0,16.1000,0.0,1013.97,Partly cloudy starting in the morning.
96446,2016-09-09 17:00:00.000 +0200,Partly Cloudy,rain,30.766667,29.311111,0.28,14.2163,24.0,15.5526,0.0,1013.83,Partly cloudy starting in the morning.
96447,2016-09-09 18:00:00.000 +0200,Partly Cloudy,rain,28.838889,27.850000,0.32,12.2038,21.0,16.1000,0.0,1014.07,Partly cloudy starting in the morning.
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

### Slicing in the dataframe
 * Suppose you want to get 10 rows of the dataframe ranging from row 20 to 30. <br>
   <code> d[20<b>:</b>30+1] </code>

In [8]:
d[20:31]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
20,2006-04-01 20:00:00.000 +0200,Mostly Cloudy,rain,11.550000,11.550000,0.77,7.3899,147.0,11.0285,0.0,1015.85,Partly cloudy throughout the day.
21,2006-04-01 21:00:00.000 +0200,Mostly Cloudy,rain,11.183333,11.183333,0.76,4.9266,160.0,9.9820,0.0,1015.77,Partly cloudy throughout the day.
22,2006-04-01 22:00:00.000 +0200,Partly Cloudy,rain,10.116667,10.116667,0.79,6.6493,163.0,15.8263,0.0,1015.40,Partly cloudy throughout the day.
23,2006-04-01 23:00:00.000 +0200,Mostly Cloudy,rain,10.200000,10.200000,0.77,3.9284,152.0,14.9569,0.0,1015.51,Partly cloudy throughout the day.
24,2006-04-10 00:00:00.000 +0200,Partly Cloudy,rain,10.422222,10.422222,0.62,16.9855,150.0,15.8263,0.0,1014.40,Mostly cloudy throughout the day.
25,2006-04-10 01:00:00.000 +0200,Partly Cloudy,rain,9.911111,7.566667,0.66,17.2109,149.0,15.8263,0.0,1014.20,Mostly cloudy throughout the day.
26,2006-04-10 02:00:00.000 +0200,Mostly Cloudy,rain,11.183333,11.183333,0.80,10.8192,163.0,14.9569,0.0,1008.71,Mostly cloudy throughout the day.
27,2006-04-10 03:00:00.000 +0200,Partly Cloudy,rain,7.155556,5.044444,0.79,11.0768,180.0,15.8263,0.0,1014.47,Mostly cloudy throughout the day.
28,2006-04-10 04:00:00.000 +0200,Partly Cloudy,rain,6.111111,4.816667,0.82,6.6493,161.0,15.8263,0.0,1014.45,Mostly cloudy throughout the day.
29,2006-04-10 05:00:00.000 +0200,Partly Cloudy,rain,6.788889,4.272222,0.83,13.0088,135.0,14.9569,0.0,1014.49,Mostly cloudy throughout the day.
30,2006-04-10 06:00:00.000 +0200,Mostly Cloudy,rain,7.261111,5.155556,0.85,11.1734,141.0,6.1985,0.0,1014.52,Mostly cloudy throughout the day.

### Accesing the particular column of dataframe :
 * You can access the particular column of the dataframe just my mentioning its name under quote with dataframe d.<br>
    for example you want to access Humidity column e.i, <br>
    
    <code> d['Humidity'] </code>

In [5]:
d['Humidity'].head(10) 
#Here i have applied head() function just to see only first 10 values because humidity 
#column has too many values

0    0.89
1    0.86
2    0.89
3    0.83
4    0.83
5    0.85
6    0.95
7    0.89
8    0.82
9    0.72
Name: Humidity, dtype: float64

### Finding min, max and average of a column:
  * <b>min() :</b> To find minimum of a column
  * <b>max() :</b> To find maximum of a column <br>
  * <b>mean() :</b> To find average of a column <br>
  
Find minimum and maximum of Humidity column-

In [12]:
d['Humidity'].min() 
#Printing minimum value of Humidity

0.0

In [13]:
d['Humidity'].max()
#Print maximum value Humidity

1.0

In [19]:
d['Humidity'].mean()
#Print average value Humidty

0.7348989663358906

### Conditional statements
  * <code>d["your column"]["your condition"] </code> <br>
   It will return all the values in which your condition holds true.
#### Examples : <br>
  * Find temp when Humidity is minimum<br>
  
    <code> d['Temperature(C)'][d['Humidity']==d['Humidity'].min() ]</code> <br><br>
    
  * Find temp when Humidity is maximum <br>
  
    <code> d['Temperature(C)'][d['Humidity']==d['Humidity'].max() ] </code>

In [16]:
 d['Temperature (C)'][d['Humidity']==d['Humidity'].min()]

19958    -1.111111
28101   -15.000000
28103   -15.555556
28110   -13.888889
29627     1.111111
54840   -15.555556
54858   -15.000000
54870   -16.111111
54872   -15.000000
54873   -13.888889
55086   -12.777778
55088   -12.777778
55349   -12.222222
55350   -12.222222
55352   -12.222222
55412   -17.777778
55469   -17.777778
55472   -17.777778
55473   -16.111111
55481   -12.777778
55508   -16.111111
55511   -17.777778
Name: Temperature (C), dtype: float64

In [2]:
 d[d['Humidity']==d['Humidity'].max()]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
319,2006-04-21 07:00:00.000 +0200,Foggy,rain,11.972222,11.972222,1.0,9.6600,10.0,1.2558,0.0,1016.45,Foggy in the morning.
342,2006-04-22 06:00:00.000 +0200,Foggy,rain,7.155556,7.155556,1.0,1.8515,319.0,0.2898,0.0,1017.15,Foggy starting overnight continuing until morn...
390,2006-04-24 06:00:00.000 +0200,Foggy,rain,7.688889,7.688889,1.0,0.0000,0.0,0.7406,0.0,1018.13,Partly cloudy until evening.
535,2006-04-03 07:00:00.000 +0200,Clear,rain,5.933333,5.933333,1.0,0.1449,230.0,5.8443,0.0,1014.55,Partly cloudy until night.
536,2006-04-03 08:00:00.000 +0200,Clear,rain,10.405556,10.405556,1.0,0.7245,18.0,5.3935,0.0,1014.91,Partly cloudy until night.
...,...,...,...,...,...,...,...,...,...,...,...,...
95907,2016-09-16 06:00:00.000 +0200,Foggy,rain,14.905556,14.905556,1.0,7.5992,169.0,1.6100,0.0,1016.51,Partly cloudy starting in the afternoon.
96123,2016-09-24 06:00:00.000 +0200,Partly Cloudy,rain,7.594444,7.594444,1.0,4.8300,160.0,6.2951,0.0,1026.93,Partly cloudy starting in the morning.
96148,2016-09-25 07:00:00.000 +0200,Mostly Cloudy,rain,8.838889,8.838889,1.0,4.5402,349.0,6.1985,0.0,1022.88,Mostly cloudy until night.
96363,2016-09-06 06:00:00.000 +0200,Mostly Cloudy,rain,12.338889,12.338889,1.0,3.5581,301.0,8.0500,0.0,1014.45,Mostly cloudy starting overnight.
96364,2016-09-06 07:00:00.000 +0200,Mostly Cloudy,rain,12.872222,12.872222,1.0,4.5241,339.0,9.9820,0.0,1014.84,Mostly cloudy starting overnight.

In [17]:
 d['Temperature (C)'][d['Humidity']==d['Humidity'].max()]

319      11.972222
342       7.155556
390       7.688889
535       5.933333
536      10.405556
607       3.816667
822      14.516667
846      14.005556
1159     13.888889
1227     12.750000
1326     17.755556
1329     17.711111
1374     12.177778
1469      6.061111
1470      6.061111
1472      6.061111
1494      7.127778
1529      2.250000
1532      2.122222
1534      1.344444
1535      2.122222
1538      1.372222
1539      1.372222
1541      1.011111
1544      0.766667
1545      0.788889
1550      2.138889
1551      2.161111
1556      1.161111
1558      0.950000
           ...
93410     2.105556
93453     7.605556
93475     7.177778
93523     4.355556
93527     8.077778
93530     8.727778
93573    12.755556
93576    12.200000
93578    12.705556
93579    12.827778
93617    16.088889
93619    15.994444
93623    13.311111
93624    12.738889
93626    12.138889
93795    12.200000
93962    13.816667
95021     6.116667
95045     7.222222
95517    15.000000
95518    15.033333
95522    15.000000
95523    14.883333
95608    11.161111
95713     2.127778
95907    14.905556
96123     7.594444
96148     8.838889
96363    12.338889
96364    12.872222
Name: Temperature (C), Length: 2890, dtype: float64

###### In the same way you can apply various condition and analyse it hidden features